<div class="main-nav">
  <div class="nav-logo">
    <a href="/teams">
      <img src="assets/stuckinicon.png" alt="Stuck In">
    </a>
    <a href="/teams">
      <span>Stuck In</span>
    </a>
  </div>
  <div class="nav-menu">
    <!-- <a href="/stories">Stories</a> -->
    <a href="/teams">Teams</a>
    <a href="/tryouts">Tryouts</a>
    <!-- <a href="/forum">Forum</a> -->
  </div>
</div>
