* {
  box-sizing: border-box;
}

body {
  background: #fafafa;
  margin: 0;
}

a {
  color: #6fa036;
  font-weight: bold;
}

#app-container {
  border-top: 15px solid #6FA135;
  padding: 30px;
  font-family: -apple-system, BlinkMacSystemFont,
    "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  color: #424242;
}

.intro-container {
  margin: 40px 10%;
}

.tryout {
  position: relative;
  display: flex;

  margin: 40px 10%;

  background: #ffffff;
  border: 1px solid #cccccc;
}

.tryout .team-logo {
  display: none;
  padding: 30px;
}

.tryout .team-logo img {
  height: 200px;
  width: auto;
}

@media only screen and (min-width: 768px) {
  .tryout .team-logo {
    display: block;
  }
}

.tryout-content {
  padding: 2em;
  padding-top: 1em;
}

@media only screen and (max-width: 768px) {
  .tryout-content {
    padding: 1em;
    padding-top: 1em;
  }
}

.league-logo {
  height: 50px;
  width: 50px;
  position: absolute;
  top: -25px;
  right: -25px;
}

.league-logo img {
  overflow: hidden;
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

.league-logo img:hover {
  height: 50px;
  width: 50px;
  border: 5px solid #6fa036;
}

#mce-EMAIL {
  margin: 10px;
  margin-left: 0px;
  margin-right: 5px;
  padding: 15px;
  font-size: 20px;
  width: 50%;
  min-width: 248px;
  outline: none;
}

#mc-embedded-subscribe {
  margin: 10px;
  margin-left: 0px;
  margin-right: 5px;
  font-size: 20px;
  font-weight: bold;
  min-width: 248px;
  padding: 15px 30px;
  background: #6fa036;
  border: none;
  color: white;
  outline: none;
  border-radius: 0px;
}

#mc-embedded-subscribe:hover {
  background: #658c37;
}

/*button a {
  color: white;
  text-decoration: none;
}*/
